*{
box-sizing:border-box;
}

body{
background-color: hsl(0, 0%, 95%);
display:flex;
align-items:center;
justify-content:center;
height:100vh;
margin:0;
}

.flexbox{
	display:flex;
	flex-direction:row;
	width:auto;
	
	height:auto;
	margin:auto;
	justify-content:center;
	
}
.container{
	width:300px;
	height:500px;
	display:flex;
	flex-direction:column;
padding:50px 50px 0 50px;
}

.container:first-child{
background-color:hsl(31, 77%, 52%);
border-bottom-left-radius:10px;
border-top-left-radius:10px;
}

.container:nth-child(2){
background-color: hsl(184, 100%, 22%);
}

.container:last-child{
background-color:hsl(179, 100%, 13%);
border-bottom-right-radius:10px;
border-top-right-radius:10px;
}

img{
width:30%;
margin-bottom:20px;
}

h1{
	color: hsl(0, 0%, 95%);
	  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 700;
font-display: swap;
}
p{
color: hsla(0, 0%, 100%, 0.75);
font-size:15px;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  line-height:1.5;}
  
  button{
	  background-color:hsl(0, 0%, 95%);
  color: hsl(0, 0%, 55%);
  width:80%;
  height:50px;
  border-radius:50px;
  font-size:15px;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  border:none;
  margin-top:70px;}
  
  .container:first-child button{
  color:hsl(0, 0%, 55%);
  background-color:}
  
   .container:first-child button:hover{
 color:hsl(0, 0%, 95%);
  background-color:hsl(31, 77%, 52%);
  border: 2px solid hsl(0, 0%, 95%);}
  
  .container:nth-child(2) button{
  color:hsl(184, 100%, 22%);}
  
     .container:nth-child(2) button:hover{
 color:hsl(0, 0%, 95%);
  background-color:hsl(184, 100%, 22%);
  border: 2px solid hsl(0, 0%, 95%);}
  
  .container:last-child button{
  color:hsl(179, 100%, 13%);}

 .container:last-child button:hover{
 color:hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
  border: 2px solid hsl(0, 0%, 95%);}
  
@media(max-width:900px){
	.flexbox{
		flex-direction:column;
		
		height:auto;
	padding-top:90px;
	padding-bottom:90px;
	
	}
	.container:first-child{
		border-bottom-left-radius:0px;
	border-top-right-radius:10px;}
	
	.container:last-child{
border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
border-top-right-radius:0px;}
}